<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Widget taps run as a short foreground task (WidgetActionService). -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:label="ZigDash"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- The shutter pop-up, opened by a shutter's tile or widget. -->
        <activity
            android:name=".CoverControlActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:taskAffinity="com.giladtamam.zigdash.cover"
            android:launchMode="singleTask"
            android:theme="@style/CoverPopup" />
        <!-- Shortcuts: the one-device home-screen widget. -->
        <receiver
            android:name=".DeviceWidget"
            android:exported="true"
            android:label="@string/widget_device_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_device_info" />
        </receiver>
        <!-- Shortcuts: the scene button widget. -->
        <receiver
            android:name=".SceneWidget"
            android:exported="true"
            android:label="@string/widget_scene_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_scene_info" />
        </receiver>
        <!-- Shortcuts: the group widget. -->
        <receiver
            android:name=".GroupWidget"
            android:exported="true"
            android:label="@string/widget_group_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_group_info" />
        </receiver>
        <!-- Shortcuts: sets up a widget pinned from inside ZigDash. -->
        <receiver
            android:name=".PinWidgetReceiver"
            android:exported="false" />
        <activity
            android:name=".WidgetConfigActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:taskAffinity="com.giladtamam.zigdash.widget"
            android:theme="@style/CoverPopup">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <service
            android:name=".WidgetActionService"
            android:exported="false"
            android:foregroundServiceType="shortService" />
        <!-- Shortcuts: Android's Device Controls (2.1 §4), Android 11+. -->
        <service
            android:name=".ZigDashControlsService"
            android:exported="true"
            android:label="ZigDash"
            android:permission="android.permission.BIND_CONTROLS">
            <intent-filter>
                <action android:name="android.service.controls.ControlsProviderService" />
            </intent-filter>
        </service>
        <!-- Shortcuts: four Quick Settings tile slots (2.1 §4), assigned in the app. -->
        <service
            android:name=".ShortcutTile1"
            android:exported="true"
            android:icon="@drawable/ic_shortcut_tile"
            android:label="ZigDash 1"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".ShortcutTile2"
            android:exported="true"
            android:icon="@drawable/ic_shortcut_tile"
            android:label="ZigDash 2"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".ShortcutTile3"
            android:exported="true"
            android:icon="@drawable/ic_shortcut_tile"
            android:label="ZigDash 3"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".ShortcutTile4"
            android:exported="true"
            android:icon="@drawable/ic_shortcut_tile"
            android:label="ZigDash 4"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- url_launcher: setup guides open in the browser. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
